*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrap {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: 60%;
    height: 50%;
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.carousel img {
    height: 100%;
}

i[class*="fa-chevron"]{
    cursor: pointer;
}

.container-bullet {
    position: absolute;
    bottom: 1%;
    right: 50%;
    transform: translate(57%, -50%);
    color: white;
}

.red {
    color: aqua;
}